<section class="section section-scroll" style="background-color: #FDCCF9;">
    <div class="container has-text-centered">
        <h1 class="title is-size-1 has-text-primary-light">{{ section.title }}</h1>
        <p class="subtitle has-text-grey-light">{{ section.metadata.section_subtitle }}</p>

        <div class="has-background-primary-light">
        <p class="title">{{ section.metadata.title }}</p>
                    <p class="subtitle">{{ section.metadata.subtitle }}</p>
                    <center>
                      <img src="{{ section.metadata.image }}" class="image" style="height: 60vh; width: auto;" >
                    </center>
                    <br>
    </div></div>
</section>
